<div class="list-detail">

  <h2 class="title">{{ list.nombre }}</h2>

  <h5 class="desc">{{ list.descripcion }}</h5>

  <p class="desc">fecha de creación: {{list.fechaCreacion | date:'dd/MM/yyyy | HH:mm:ss'}}</p>
  <p class="desc">fecha de modificación: {{list.fechaModificacion| date:'dd/MM/yyyy | HH:mm:ss'}}</p>

  <hr>

  <div class="media-grid">

    <div class="media-item" *ngFor="let media of mediasFull">

    <a [routerLink]="['/media', media._id]">
      <img [src]="media.imagen" />
      <h4>{{ media.titulo }}</h4>
    </a>

    </div>

  </div>

</div>

<div class="edit-button">
  <button
    type="button"
    class="btn btn-edit"
    [routerLink]="['/list', list._id, 'edit']"
  >
    Editar Lista
  </button>
</div>
