.excel-table tr.base {
  background: linear-gradient(to right, rgba(51, 47, 27, 0.822), rgb(176, 179, 21)); /* Force yellow background */
  color: black !important; /* Change text color for better contrast */
  text-align: center;
}

.excel-table {
  width: 100%;
  border-collapse: collapse;
}


.excel-table tr.each {
  background: linear-gradient(to right, black, grey); /* Gradient from black to grey */
}

.excel-table tr.base:nth-child(odd) {
  background-color: #f2f2f2; /* Alternate row background color */
}

.excel-table td {
  padding: 8px;
  border: 1px solid #dddddd;
  color: #ffffff; /* Text color */
}

.year-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.year-buttons button {
  background-color: #ffeb3b; /* Yellow base color */
  border: none;
  border-radius: 5px;
  color: #333; /* Dark text for contrast */
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.year-buttons button:hover {
  background-color: #ffd54f; /* Slightly darker yellow on hover */
  transform: scale(1.05);
}

.year-buttons button.active {
  background-color: #ffc107; /* Deeper yellow for active state */
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.year-buttons button:focus {
  outline: none;
  box-shadow: 0 0 8px 2px #ffeb3b; /* Yellow glow when focused */
}


/* colors */

.completed {
  background-color: #d4edda; /* Light green */
  color: #155724; /* Dark green text */
  padding: 5px;
  border-radius: 5px;
}

.not-completed {
  background-color: #f8d7da; /* Light red */
  color: #721c24; /* Dark red text */
  padding: 5px;
  border-radius: 5px;
}

.videojuegos {
  background-color: #ffe5b4; /* Light orange */
  color: #e67300; /* Dark orange */
  padding: 5px;
  border-radius: 5px;
}

.animes {
  background-color: #d1ecf1; /* Light blue */
  color: #0c5460; /* Dark blue */
  padding: 5px;
  border-radius: 5px;
}

.mangas {
  background-color: #f8d7da; /* Light red */
  color: #721c24; /* Dark red */
  padding: 5px;
  border-radius: 5px;
}

.libros {
  background-color: #d4edda; /* Light green */
  color: #155724; /* Dark green */
  padding: 5px;
  border-radius: 5px;
}

.peliculas {
  background-color: #e2d4f7; /* Light purple */
  color: #5a008f; /* Dark purple */
  padding: 5px;
  border-radius: 5px;
}

.peliculas-anime {
  background-color: #5b9bd5; /* Dark blue */
  color: #ffffff; /* White text */
  padding: 5px;
  border-radius: 5px;
}

.series {
  background-color: #f3e8ff; /* Light lavender */
  color: #6c3483; /* Dark lavender */
  padding: 5px;
  border-radius: 5px;
}

.cartoons {
  background-color: #fff4cc; /* Light yellow */
  color: #c79500; /* Dark yellow */
  padding: 5px;
  border-radius: 5px;
}

.comic {
  background-color: #efd9c1; /* Light brown */
  color: #8b4513; /* Dark brown */
  padding: 5px;
  border-radius: 5px;
}
