.excel-table tr.base {
  background: linear-gradient(to right, rgba(51, 47, 27, 0.822), rgb(176, 179, 21)); /* Force yellow background */
  color: black !important; /* Change text color for better contrast */
  text-align: center;
}

.excel-table {
  width: 100%;
  border-collapse: collapse;
}


.excel-table tr.each {
  background: linear-gradient(to right, black, grey); /* Gradient from black to grey */
}

.excel-table tr.base:nth-child(odd) {
  background-color: #f2f2f2; /* Alternate row background color */
}

.excel-table td {
  padding: 8px;
  border: 1px solid #dddddd;
  color: #ffffff; /* Text color */
}

.year-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.year-buttons button {
  background-color: #ffeb3b; /* Yellow base color */
  border: none;
  border-radius: 5px;
  color: #333; /* Dark text for contrast */
  padding: 10px 15px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.2s ease, background-color 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.year-buttons button:hover {
  background-color: #ffd54f; /* Slightly darker yellow on hover */
  transform: scale(1.05);
}

.year-buttons button.active {
  background-color: #ffc107; /* Deeper yellow for active state */
  color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.year-buttons button:focus {
  outline: none;
  box-shadow: 0 0 8px 2px #ffeb3b; /* Yellow glow when focused */
}


/* colors */

.completed {
  background-color: #d4edda; /* Light green */
  color: #155724; /* Dark green text */
  padding: 5px;
  border-radius: 5px;
}

.not-completed {
  background-color: #f8d7da; /* Light red */
  color: #721c24; /* Dark red text */
  padding: 5px;
  border-radius: 5px;
}

.videojuego-class {
  background-color: #f0ad4e; /* Light orange */
  color: black; /* Dark text */
  padding: 5px;
  border-radius: 5px;
}

.anime-class {
  background-color: #5bc0de; /* Light blue */
  color: black; /* Dark text */
  padding: 5px;
  border-radius: 5px;
}

.manga-class {
  background-color: #d9534f; /* Light red */
  color: black; /* Dark text */
  padding: 5px;
  border-radius: 5px;
}

.libro-class {
  background-color: #c5f78d; /* Light yellow */
  color: black; /* Dark text */
  padding: 5px;
  border-radius: 5px;
}

.pelicula-class {
  background-color: #9b59b6; /* Light purple */
  color: black; /* Dark text */
  padding: 5px;
  border-radius: 5px;
}

.serie-class {
  background-color: #ff69b4; /* Light pink */
  color: black; /* Dark text */
  padding: 5px;
  border-radius: 5px;
}

.cartoons-class {
  background-color: #f7e869; /* Light yellow/orangish */
  color: black; /* Dark text */
  padding: 5px;
  border-radius: 5px;
}

.comic-class {
  background-color: #6b3e26; /* Dark brown */
  color: rgb(255, 255, 255); /* Dark text */
  padding: 5px;
  border-radius: 5px;
}
