<h2 class="listas-title">
  Mis Listas ({{lists.length}}) <span (click)="hideForm()">📝 </span>
</h2>

<nav class="navbar justify-content-between mt-3 row" *ngIf="thisFormShows">
  <form class="container-fluid col">
    <input
      class="form-control"
      type="text"
      name="search"
      placeholder="Search Media Here!"
      aria-label="Search"
      [(ngModel)]="search"
    />
  </form>

  <ul class="nav nav-pills col-auto ms-3">
    <li class="nav-item">
      <select class="form-control" [(ngModel)]="order" [ngModelOptions]="{standalone:true}">
        <option *ngFor="let option of typeOfOrders" value={{option.value}}>Order: {{option.label}}</option>
      </select>
    </li>
  </ul>
  <br>
</nav>


<!---->
<div class="media-grid">
<div class="media-card" *ngFor="let list of lists | listFilter:search:order">

  <a [routerLink]="['/list', list._id]">
  <div class="media-collage" *ngIf="list.mediasFull">

    <!-- GRANDE -->
    <div class="main-img">
      <img *ngIf="list.mediasFull?.[0]" [src]="list.mediasFull[0].imagen" />
      <div *ngIf="!list.mediasFull?.[0]" class="empty"></div>
    </div>

    <!-- PEQUEÑAS -->
    <div class="side-grid">
      <div class="mini-img" *ngFor="let i of [1,2,3,4]">
        <img *ngIf="list.mediasFull?.[i]" [src]="list.mediasFull[i].imagen" />
        <div *ngIf="!list.mediasFull?.[i]" class="empty"></div>
      </div>
    </div>

  </div>
  </a>

  <div class="list-title">
    <a [routerLink]="['/list', list._id]">
      {{ list.nombre }}
    </a>
  </div>

</div>
</div>

<!---->

<button
  type="button"
  class="btn btn-lila fab-center"
  [routerLink]="['/list', 'add']"
  routerLinkActive="active"
>
  Crear lista
</button>
