<div class="container">
  <form class="mt-4" (ngSubmit)="addList()" #listForm="ngForm">

      <div class="form-row">
        <div class="mb-3 col">
          <label for="nombre">Nombre de la Lista</label>
          <input
            type="text"
            class="form-control"
            name="nombre"
            id="nombre"
            [(ngModel)]="newList.nombre"
            required
            placeholder="Nombre de la lista"
            #nombreModel="ngModel"
            [ngClass]="validClasses(nombreModel, 'is-valid', 'is-invalid')"
          />
          <div class="invalid-feedback">Al menos un nombre es requerido</div>

    <div class="form-row">
      <div class="mb-3 col">
        <label for="descripcion">Descripción</label>
        <input
          type="text"
          class="form-control"
          name="descripcion"
          id="descripcion"
          [(ngModel)]="newList.descripcion"
          required
          placeholder="Nombre de la descripcion"
          #descripcionModel="ngModel"
          [ngClass]="validClasses(descripcionModel, 'is-valid', 'is-invalid')"
        />
    <div class="invalid-feedback">Al menos una descripción es requerida</div>

    <div class="form-row">
      <div class="mb-3 col">
        <label for="tipoLista">Tipo de Lista</label>
        <input
          type="text"
          class="form-control"
          name="tipoLista"
          id="tipoLista"
          [(ngModel)]="newList.tipoLista"
          required
          placeholder="Añade un tipo de organización a tu lista"
          #tipoListaModel="ngModel"
          [ngClass]="validClasses(tipoListaModel, 'is-valid', 'is-invalid')"
        />
    <div class="invalid-feedback">Al menos un tipo de lista es requerido</div>

    <div class="form-actions" *ngIf="!edit">
    <button
      type="submit"
      class="btn btn-warning btn-lg"
      [disabled]="listForm.invalid"
    >
      Crear
    </button>
  </div>


    <!--listas-->
        <div class="mb-3">
          <label>Buscar media</label>

          <div class="d-flex gap-2">
            <input
              type="text"
              class="form-control"
              [(ngModel)]="searchText"
              name="searchText"
              placeholder="Escribe nombre de obra"
            />

            <input
              type="button"
              class="btn btn-warning"
              value="Buscar"
              (click)="searchMedia()"
            />
          </div>
        </div>

        <div *ngIf="results.length > 0">
          <hr>
        <h5>Resultados</h5>

        <div *ngFor="let media of results" class="result-item">

          <span class="media-name">
            {{ media.titulo }}
          </span>

          <button
            type="button"
            class="btn btn-sm btn-success"
            (click)="addMediaToList(media)"
          >
            Añadir
          </button>

        </div>

      </div>

      <div *ngIf="newList.medias.length > 0">
        <hr>
      <h5>Medias añadidas</h5>

        <div *ngFor="let media of selectedMediaList" class="selected-item">

    <span class="media-name">
      {{ media.titulo }}
    </span>

    <span class="media-id">
      ({{ media._id }})
    </span>

    <button
      type="button"
      class="btn btn-sm btn-danger"
      (click)="removeMedia(media._id!)"
    >
      X
    </button>

     <!--fin des las listas-->


  <div class="form-actions" *ngIf="edit">
    <button
      type="submit"
      class="btn btn-warning btn-lg"
      [disabled]="listForm.invalid"
    >
      Editar
    </button>
  </div>

  </div>



</div>
