<div class="row minimalistic-container">
  <!-- Left Column for Image -->
  <div class="col-md-3 image-container">
    <img class="card-img-top" src="{{ media.imagen }}" alt="{{ media.titulo }}" />
  </div>

  <!-- Right Column for Details -->
  <div class="col-md-9 details-container">
    <h2 class="title">{{ media.titulo }}</h2>
    <div class="info">
      <p><strong>Fecha de Lanzamiento:</strong> {{ media.fechaLanzamiento | date:'dd/MM/yyyy' }}</p>
      <p><strong>Tipo de Media:</strong> {{ media.tipo }}</p>
      <p><strong>Género:</strong> {{ media.genero }}</p>
      <p><strong>Subgénero:</strong> {{ media.subgenero }}</p>
      <p><strong>Plataforma:</strong> {{ media.plataforma }}</p>
      <p><strong>Tiempo de Juego:</strong> {{ media.tiempoJuego }} horas</p>
      <p><strong>Desarrolladores:</strong> {{ media.desarrolladora }}</p>
    </div>
    <div class="review-section">
      <h3>Review:</h3>
      <p class="review-text">{{ media.review }}</p>
    </div>
    <div class="score">
      {{ media.notaObjetiva }}
    </div>
  </div>
</div>

<div class="edit-button">
  <button type="button" class="btn btn-danger" [routerLink]="['/media', media._id, 'edit']">Editar Media!</button>
</div>
