<br><br><!--

<h1 style="text-align: center; color: white">{{media.titulo}}</h1>
<img class="card-img-top" src="{{ media.imagen }}" style="width: 700px; height: 1000px; text-align: center;" />
<br><br>
<button type="button" class="btn btn-danger" [routerLink]="['/media', media._id, 'edit']">Editar</button>&nbsp;
<br>

<p>{{media.tipo}}</p>
<p>{{media.genero}}</p>
<p>{{media.plataforma}}</p>
<p>{{media.fechaLanzamiento}}</p>
<p>{{media.fechaTerminado}}</p>
<p>{{media.notaObjetiva}}</p>
<p>{{media.notaSubjetiva}}</p>
<p>{{media.desarrolladora}}</p>
<p>{{media.subgenero}}</p>
<p>{{media.fechaCreacion}}</p>
<p>{{media.fechaModificacion}}</p>
<p>{{media.review}}</p>-->

<div class="row">
  <div class="card-neon card h-100 shadow col-md-6" style="margin-left:25%">

      <img class="card-img-top" src="{{ media.imagen}}" style="text-align: center; border-radius: 2%;" />

    <div class="small-card card-body">
      <h4 class="card-title">>{{ media.titulo }}</h4>

      <div class="card-text">
        <small class="text-muted">
          <strong>Fecha de Lanzamiento: </strong>{{ media.fechaLanzamiento }}
        </small>
        <br>
        <small class="text-muted">
          <strong>Type of media: </strong>{{ media.tipo }}
          <br>
        </small>

      </div>
      <br>
      <p class="card-text reviewTextstring" >{{ media.review }}</p>
      <div class="score">{{media.notaObjetiva}}</div>
    </div>

    <div class="card-footer">
      <small class="text-muted">Media Creada en: {{ media.fechaCreacion }}</small><br>
      <small class="text-muted">Modificada por ültima vez: {{ media.fechaModificacion }}</small>
    </div>
  </div>

  <div class="big-card card-body col-md-6">
    <h4 class="card-title">{{ media.titulo }}</h4><br>
    <div class="card-text">
      <small class="text-muted">
        <strong>Fecha de Lanzamiento: </strong>{{ media.fechaLanzamiento }}
      </small>
      <br>
      <small class="text-muted">
        <strong>Tipo of media: </strong>{{ media.tipo }}
        <br>
      </small>

      <small class="text-muted">
        <strong>Género: </strong>{{ media.tipo }}
        <br>
      </small>

      <small class="text-muted">
        <strong>Subgénero: </strong>{{ media.subgenero }}
        <br>
      </small>

      <small class="text-muted">
        <strong>Plataforma: </strong>{{ media.plataforma }}
        <br>
      </small>

      <small class="text-muted">
        <strong>Estado: </strong>{{ media.fechaTerminado }}
        <br>
      </small>

      <small class="text-muted">
        <strong>Desarrolladores: </strong>{{ media.desarrolladora }}
        <br>
      </small>

      <small class="text-muted">
        <strong>Tiempo de Juego: </strong>{{ media.tiempoJuego }} horas
        <br>
      </small>

      <div class="score" [ngStyle]="{'background-color': getScoreColor(media.notaObjetiva)}">{{media.notaObjetiva}}</div>

    </div>
    <br>
    <p class="card-text reviewTextstring">{{ media.review }}</p>
  </div>

</div>

<div class="mt-4 mb-4">
  <button type="button" class="btn btn-danger" style="margin-left:96%;" [routerLink]="['/media', media._id, 'edit'] ">Editar</button>&nbsp;
</div>
