.col-xl-1 {
  width: 10%;
}

@media (min-width: 2500px) {
  .col-xl-1 {
    width:7%;
  }
}

@media (max-width: 1200px) {
  .col-xl-1 {
    width:15%;
  }
}

.bottom-left {
  background-color: rgb(33, 33, 33);
  color:white;
  position: fixed;
  bottom: 0;
  left: 0;
  padding: 10px; /* Optional: Add padding for better readability */
  margin-left: 10px;
}

img{
  border-radius: 5%;
  width: 180px;
  height: 250px;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}

.mb-1 {
  display: flex;
  flex-wrap: wrap;
  gap: 15px; /* Controls spacing between images */
  justify-content: center;
}

nav{
  background-color: #333333;;
}

.form-control{
  background-color: #333333;
  color: white;
}

.image-container {
  position: relative; /* Establishes a positioning context */
}

.card-img-top {
  display: block; /* Ensures the image behaves like a block element */
  width: 100%; /* Makes the image responsive */
}

.overlay {
  position: absolute; /* Allows positioning within the container */
  bottom: 1px; /* Closer to the bottom of the image */
  left: 50%; /* Centering horizontally */
  transform: translateX(-50%); /* Adjust for centering */
  padding: 10px 15px; /* Padding for larger size */
  border-radius: 5px; /* Rounded corners */
  text-align: center; /* Center text within the overlay */
  color: black; /* White text color */
  font-weight: bold;
  font-size: 0.9em; /* Slightly larger font size */
  opacity: 0.9; /* Increased opacity */
}

.tiempo-overlay {
  background-color: rgb(46, 45, 45); /* Grey background for tiempoJuego */
  color: white; /* White text color */
  font-size: 0.9em; /* Same font size for consistency */
  opacity: 0.9; /* Increased opacity */
}

.btn{
  padding: 0% !important;
}



/* ordenados por años */

#media-container {
  padding: 20px;
  background-color: #333; /* Dark background */
}

.year-group {
  margin-bottom: 40px; /* Space between each year group */
}

.year-header {
  text-align: center;
  font-size: 2rem; /* Larger font size */
  color: white; /* White text */
  margin-bottom: 20px;
  background-color: black;
}

.media-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Center-align items in the row */
  gap: 10px;
}

.media-item {
  flex: 0 0 calc(100% / 13 - 10px); /* 13 items per row */
  max-width: calc(100% / 13 - 10px);
  text-align: center;
}

.media-item img {
  width: 100%;
  max-width: 300px; /* Adjust as necessary */
  max-height: 255px;
  border-radius: 8px;
}

.media-title {
  color: #ffffff;
  text-decoration: none;
  font-size: 0.9rem;
  display: block;
  margin-top: 5px;
}
