<select (change)="onMediaTypeChange($event)">
  <option *ngFor="let option of typesOfMedia" [value]="option.value">
    {{ option.label }}
  </option>
</select>

<div class="chart-wrapper">
  <!-- Legend Section -->
  <div class="legend">
    <div *ngFor="let label of chartData.labels; let i = index">
      <span class="legend-item">
        <!-- Color square with a fallback for undefined backgroundColor -->
        <span class="color-square" [style.background-color]="getColor(i)"></span>
        <strong>{{ label }}:&nbsp; </strong>
        {{ chartData.datasets[0].data[i] }}
      </span>
    </div>
  </div>

  <!-- Chart Section -->
  <div class="canvas-wrapper">
    <div class="chart-container">
      <canvas baseChart [data]="chartData" [type]="chartType"></canvas>
    </div>
  </div>
</div>

